<p id="notice"></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<a class="edit_277798" href="/books/<%= @book.id %>/edit">Edit</a>|
<a class="back" href="/books">Back</a>



